* {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
  --primary : #05386B;
  --secondary : #5CDB95;
  --title : #EDF5E1;
  --primelite : #379683;
  --seconlite : #8EE4AF;
  --seconhover : #5cdb956b;
  --shadowPrim : 0px 0px 6px var(--primary);
  --shadowSecon : 0px 0px 9px var(--secondary);
  --shadowActive : 0px 0px 9px var(--primary);
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
